<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905464389545-qnjcg2gl3o0krgdoaacnaom9o7gdakfn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905464389545-qnjcg2gl3o0krgdoaacnaom9o7gdakfn</string>
	<key>API_KEY</key>
	<string>AIzaSyAgnqsfb8jXyYUpwkJ827esS9Qm7AcDvII</string>
	<key>GCM_SENDER_ID</key>
	<string>905464389545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.base</string>
	<key>PROJECT_ID</key>
	<string>flutter-base-60fb0</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-base-60fb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905464389545:ios:baae0f6832a804e85feeb8</string>
</dict>
</plist>